@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-family-1: 'Roboto', sans-serif;
    --font-family-2: 'Be Vietnam Pro', sans-serif;
    --font-size-0: 0.75rem;
    --font-size-1: 0.82rem;
    --font-size-2: 0.94rem;
    --font-size-3: 1rem;
    --font-size-4: 2.25rem; 
    --bg-button: #7bd399; 
    --bg-footer: #ece3e3;
    --btn-text-color: white;
    --button-hover: rgb(51, 58, 55);
    --footer-p-color: #1c1c1c;
    --bg-body-about: #b2a0a052; 
    --border-header-about:  rgb(27, 130, 39);
    --border-nav: rgb(205, 18, 215);
    --border-art-about: rgb(114, 184, 222); 
    --border-cont-aside: rgb(248, 255, 30);
    --border-aside: rgb(114, 184, 222); 
    --border-footer-about: rgb(248, 255, 30);
    --span-art-section: whitesmoke; 
}
/** HEADER **/
header {
    background-size: cover;
    background-position: center;
    font-family: var(--font-family-2);
    height: 270px;
    margin: 10px auto;
    width: 1200px;
}
.img-banner {
    width: 100%;
    height: 100%;
}
/** MAIN **/
section figure img {
    border: 3px solid black;
    border-radius: 100px;
    text-align: center;
}
section{
    font-family: var(--font-family-1);
    text-align: center;
}
h1{
    font-size: var(--font-size-4);
}
section > p{
    font-size: var(--font-size-2);
}
.cont-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 55px;
}
button {
    background-color: var(--bg-button);
    border-radius: 20px;
    color: var(--btn-text-color);
    font-family: var(--font-family-2);
    font-size: var(--font-size-0);
    font-weight: bolder;
    height: 25px;
    width: 95px;
}
button:hover {
    border: none;
    color: var(--button-hover);
}
/** FOOTER INDEX **/
footer {
    margin-top: 125px;
}
.cont-footer {
    align-items: center;
    background-color: var(--bg-footer);
    display: flex;
    justify-content: center;
    margin: 10px auto 0;
    max-width: 1200px;
    text-align: center;
}
.footer-paragraph {
    color: var(--footer-p-color);
    font-family: var(--font-family-2);
    font-size: var(--font-size-1);
    font-weight: bold;
    margin-right: 5px;
}
.footer-paragraph:hover {
     text-decoration: underline;
}
.icon {
    height: 25px;
    display: flex;
    width: 25px;
}
.icon:hover{
    height: 27px;
    width: 27px;
 }
.footer-paragraph:hover, .icon:hover, button{
    cursor: pointer;
}
.text-footer {
    text-decoration: none;
}
/** ABOUT VIEW **/
.body-about {
    background-color: var(--bg-body-about);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/** ABOUT VIEW - HEADER **/
.header-about {
    border: 4px solid var(--border-header-about);
    display: flex;
    height: 90px;
    justify-content: space-around;
    margin: 10px auto;
    max-width: 1200px;
}
.cont-header-about{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
a {
    text-decoration: none;
}
/** ABOUT VIEW - SECTION DATA **/
.cont-sections {
    align-items: center;
    display: flex;
    height: 400px;
    justify-content: space-around;
    margin: 30px auto;
    max-width: 1200px;
}
article,
.cont-aside {
    height: 360px;
}
article {
    border: 4px solid var(--border-art-about);
    width: 68%;
}
.cont-aside {
    border: 4px solid var(--border-cont-aside);
    width: 29%;
}
.vertical {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}
aside >span{
    font-family: var(--font-family-2);
    font-size: var(--font-size-2);
}
.article-header {
    width: 90%;
    height: 40px;
}
.article-section {
    background-color: var(--span-art-section);
    display: flex;
    flex-direction: column;
    height: 75px;
    justify-content: space-around;
    margin: 20px auto;
    width: 90%;
}
.article-footer {
    margin: 40px auto;
    width: 90%;
}
article header p {
    font-style: oblique;
    font-weight: 400;
    text-decoration: solid;
}
aside {
    align-items: center;
    border: 4px solid var(--border-aside);
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}
.iconos {
    border: none;
    display: flex;
    height: 35px;
    width: 35px;
}
/** ABOUT VIEW - SECTION SOCIAL **/
.cont-social-icons {
    border: 4px solid var(--border-nav); 
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}
#social-icons{
    border: none;
}
#social-icons:hover{
    transform: rotate(45deg);
}
/** ABOUT VIEW - FOOTER **/
.footer-div {
    align-items: center;
    display: flex;
    justify-content: center;
}
.cont-footer-icons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.border {
    border: 4px solid var(--border-footer-about)
}