@import "variables.scss";
@import "mixin.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
/************ HEADER ************/
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 6px;
    margin: 0 auto;
    width: 95%;
    h1 {
        font-family: $font-family_1;
    }
    .btn-menu {
        height: 27px;
        width: 27px;
    }
    nav {
        display: none;
    }
    ul {
        display: flex;
    }
    li {
        font-family: $font-family_2;
        padding: 10px;
        text-transform: capitalize;
    }
}
/************ SECTION ASIDE ************/
.container-aside {
    div {
        margin-top: 25px;
    }
    h2 {
        font-family: $font-family_2;
        font-size: 55px;
        line-height: 70px;
        letter-spacing: 10px;
        padding: 15px 30px 10px;
    }
    .aside-text-p {
        font-family: $font-family_1;
        line-height: 30px;
        padding: 30px;
    }
    .decoration-title {
        background-color: #03faee;
        height: 50px;
        left: 29px;
        position: relative;
        top: 61px;
        width: 216px;
        z-index: -1;
    }
    .button-container {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    button {
        @include button;
        font-family: $font-family_1;
    }
    .aside-image>img {
        display: flex;
        margin: 0 auto;
        width: 90%;
    }
}
/************ SECTION ARTICLE ************/
article{
    padding-top: 3px;
}
.article-card {
    background-color: $background-color_2;
    padding: 15px 20px 50px 20px;
    margin: 25px auto;
    width: 80%;
    z-index: -2;
}
.card-number {
    @include rounded;
    border: solid 1px black;
    padding: 5px 0px 20px 5px;
}
.card-decoration {
    background-color: $background-color_1;
    height: 15px;
    left: -3px;
    position: relative;
    top: 28px;
    width: 28px;
    z-index: 0;
}
.card-title {
    font-weight: bold;
    text-transform: capitalize;
    padding: 15px 0px;
    position: relative;
    z-index: 1;
}
.card-message {
    font-family: $font-family_1;
    letter-spacing: 0.9px;
}
/************ FOOTER ************/
footer {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 40px 50px;
    p {
        font-family: $font-family_1;
        padding-top: 45px;
    }
    img {
        width: 50px;
    }
}
.social-media {
    display: flex;
    justify-content: space-between;
    width: 220px;
    img {
        @include rounded;
        padding: 10px;
    }
}
/************ MEDIAS QUERIES ************/
@media (min-width: 481px) {
    header .btn-menu {
        display: none;
    }
    header nav {
        display: block;
        li:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .container-aside {
        display: flex;
        margin-top: 30px;
        .aside-text {
            padding: 80px 24px;
            h2 {
                letter-spacing: 15px;
            }
            .decoration-title {
                width: 245px;
            }
            .button-container {
                justify-content: start;
                padding-left: 10px;
                button:hover {
                    cursor: pointer;
                    scale: 1.1;
                    font-weight: 600;
                }
            }
        }
        .aside-image>img {
            width: 780px;
        }
    }
    .container-article {
        display: flex;
        justify-content: space-evenly;
        padding-top: 15px;
    }
    footer {
        flex-direction: row;
        p {
            padding-top: 0;
        }
        img:hover {
            background-color: #e5dada;
            cursor: pointer;
        }
    }
}